@charset "ISO-8859-1";


body {
	display:flex;
	justify-content: center;
	align-items: center;
	background-color: #F3EBF6;
	height: 100vh;
	font-family: 'Ubuntu', sans-serif;

}


.login {
	margin : 10px;
}

.psd_input {
	width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(209, 209, 209, 0.5);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
}

.psd_input:focus {
	border: 2px solid rgba(0, 0, 0, 0.18) !important;
}
.right_submit_cont {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.remember {
	margin-bottom: 10px;
}
.btn_co, .btn_insc {	
margin: 16px;
padding: 16px;
 background-color: rgb(112, 111, 111); 
 color: aliceblue; 
 border: none;
 border-radius: 20px;
 font-size: 20px;
 cursor: pointer;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
transition: all 0.2s;
}

.btn_co:hover, .btn_insc:hover{
	 background-color: rgb(39, 39, 39); 
	 transform: scale(1.2);
}


.connex_container {
	max-width: 400px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height : 480px;
	width:100%;
	box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
	background-color: rgb(245, 245, 245);
	border-radius: 20px;
}

.error {
	margin: 0;
	color: rgb(196, 13, 13);
}

.submit_cont {
	display: flex;
	justify-content: center;
}

.btn_cont {

	display: flex;
	justify-content: center;
}

/* The alert message box */
.alert {
	width: 90%;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #f44336; /* Red */
	color: white;
	margin-bottom: 15px;
  }

  /* The close button */
.closebtn {
	margin-left: 15px;
	color: white;
	font-weight: bold;
	float: left;
	font-size: 22px;
	line-height: 20px;
	transition: 0.3s;
  }
 
 .hidden {
 display:none
 }

 @media screen and (max-width: 1250px) { 
	body {
	display: block;
	height: 100%;
	}
	.connex_container {
		margin-top: 20px;
		max-width: 100%;
		height: 100%;
		justify-content: start;
	}

	.btn_cont input {
		width: 100%;
	}

} 